Repository cidevopensare/smartarb_engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-config, check-api-keys, validate-docker, check-requirements, test-imports, validate-rpi-scripts, check-todos

Path conditions:
  validate-config: any of: ^config/.*\.ya?ml$
  check-api-keys: any of: ^(config/|\.env).*$
  validate-docker: any of: ^docker-compose\.ya?ml$
  check-requirements: any of: requirements.*\.txt$
  test-imports: any of: ^src/.*\.py$
  validate-rpi-scripts: any of: ^scripts/.*\.sh$
  check-todos: any of: ^src/.*\.py$

Create MakeFile.md
  MakeFile.md
Due: none

Create backup_restore.py
  scripts/backup_restore.py
Due: none

Create smartarb.service
  scripts/systemd/smartarb.service
Due: none

Create ci.yml
  .github/workflows/ci.yml
Due: none

Update MakeFile.md
  MakeFile.md
Due: none

Update risk_manager.py
  src/core/risk_manager.py
Due: test-imports, check-todos

Update strategy_manager.py
  src/core/strategy_manager.py
Due: test-imports, check-todos

Update base_exchange.py
  src/exchanges/base_exchange.py
Due: test-imports, check-todos

Update logging.py
  src/utils/logging.py
Due: test-imports, check-todos

Create __init__.py
  src/core/__init__.py
Due: test-imports, check-todos

Update claude_integration.py
  src/ai/claude_integration.py
Due: test-imports, check-todos

Update kraken.py
  src/exchanges/kraken.py
Due: test-imports, check-todos

Rename MakeFile.md to MakeFile
  MakeFile
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Create test_basic.py
  tests/test_basic.py
Due: none

Create __init__.py
  src/__init__.py
Due: test-imports, check-todos

Create __init__.py
  src/exchanges/__init__.py
Due: test-imports, check-todos

Update execution_engine.py
  src/core/execution_engine.py
Due: test-imports, check-todos

Update porfolio_manager.py
  src/core/porfolio_manager.py
Due: test-imports, check-todos

Update setup_database.py
  scripts/setup_database.py
Due: none

Create __init__.py
  src/utils/__init__.py
Due: test-imports, check-todos

Update config.py
  src/utils/config.py
Due: test-imports, check-todos

Update mexc.py
  src/exchanges/mexc.py
Due: test-imports, check-todos

Update bybit.py
  src/exchanges/bybit.py
Due: test-imports, check-todos

Create __init__.py
  tests/__init__.py
Due: none

Create test_config.py
  tests/test_config.py
Due: none

Create settings.yaml.example
  config/settings.yaml.example
Due: check-api-keys

Update setup_ai.py
  scripts/setup_ai.py
Due: none

Create __init__.py
  src/cli/__init__.py
Due: test-imports, check-todos

Create __init__.py
  src/ai/__init__.py
Due: test-imports, check-todos

Update main.py
  src/cli/main.py
Due: test-imports, check-todos

Create entrypoint.sh
  scripts/entrypoint.sh
Due: validate-rpi-scripts

Update raspberry_pi_setup.sh
  scripts/raspberry_pi_setup.sh
Due: validate-rpi-scripts

Update requirements.txt
  requirements.txt
Due: check-requirements

Update .env.example
  .env.example
Due: check-api-keys

Update MakeFile
  MakeFile
Due: none

Update engine_old.py
  src/core/engine.py
Due: test-imports, check-todos

Rename engine.py to engine.py.old
  src/core/engine.py.old
Due: none
