Repository cidevopensare/smartarb_engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-config, check-api-keys, validate-docker, check-requirements, test-imports, validate-rpi-scripts, check-todos

validate-config:
  name: Validate SmartArb configuration
  entry: python -m src.utils.config --validate
  language: system
  pass_filenames: false

check-api-keys:
  name: Check for exposed API keys
  entry: python scripts/check_secrets.py
  language: system
  pass_filenames: false

validate-docker:
  name: Validate Docker configuration
  entry: docker-compose config
  language: system
  pass_filenames: false

check-requirements:
  name: Check requirements consistency
  entry: python scripts/check_requirements.py
  language: system
  pass_filenames: false

test-imports:
  name: Test Python imports
  entry: python -c "import src; print('âœ“ Import structure valid')"
  language: system
  pass_filenames: false

validate-rpi-scripts:
  name: Validate Raspberry Pi scripts
  entry: bash -n
  language: system

check-todos:
  name: Check for TODO/FIXME in production code
  entry: python scripts/check_todos.py
  language: system
  pass_filenames: false

Create engine.py
  src/core/engine.py
Due: test-imports, check-todos

Update MakeFile
  MakeFile
Due: none

Create FIX_APPLIED.md
  FIX_APPLIED.md
Due: none

Create Dockerfile.secure
  Dockerfile.secure
Due: none

Create docker-compose.secure.yml
  docker-compose.secure.yml
Due: none

Create test_comprehensive.py
  tests/test_comprehensive.py
Due: none

Create fix_imports.py
  scripts/fix_imports.py
Due: none

Create health_check.py
  scripts/health_check.py
Due: none

Create generate_secrets.py
  scripts/generate_secrets.py
Due: none

Create backup_system.py
  scripts/backup_system.py
Due: none

Create deploy_to_rpi.sh
  scripts/deploy_to_rpi.sh
Due: validate-rpi-scripts

Create nginx.conf
  nginx/nginx.conf
Due: none

Create prometheus.yml
  monitoring/prometheus.yml
Due: none

Create smartarb.yml
  monitoring/alerts/smartarb.yml
Due: none

Create smartarb-dashboard.json
  monitoring/grafana/smartarb-dashboard.json
Due: none

Create optimize_redis.sh
  scripts/optimize_redis.sh
Due: validate-rpi-scripts

Remove duplicate MakeFile
  MakeFile
Due: none

Add .env.docker to gitignore
  .gitignore
Due: none

Update: [aggiunta dashboard e notifiche telegram]
  .dashboard.pid
  .engine.pid
  Makefile
  config/settings.yaml
  deploy_dashboard.sh
  diagnose_smartarb.sh
  manage.sh
  quickfix_commands.sh
  requirements.txt
  src/api/dashboard_server.py
  src/api/integrated_dashboard.py
  src/api/start_api.py
  src/config/__init__.py
  src/config/config_manager.py
  src/core/engine.py
  src/core/engine_with_dashboard.py
  src/core/logger.py
  src/main.py
  src/notifications/__init__.py
  src/notifications/telegram_notifier.py
  static/dashboard/index.html
  static/dashboard/manifest.json
  test_direct.py
  test_telegram_direct.py
  test_telegram_now.py
  tests/test_telegram.py
  tests/test_telegram_now.py
Due: validate-config, check-api-keys, check-requirements, test-imports, check-todos

Update: [bot unificato con dashboard e telegram]
  .dashboard.pid
  .engine.pid
  .env.original
  Makefile
  Makefile.old
  cleanup_and_unify.sh
  config/settings.yaml
  debug_dashboard.sh
  debug_engine_startup.sh
  diagnose_engine_crash.sh
  fix_engine_imports.sh
  fix_smartarb.sh
  fix_yaml_config.sh
  manage.sh
  quick_create_unified.sh
  quick_dashboard_fix.sh
  smartarb_engine.pid
  src/core/engine.py
  src/core/unified_engine.py
  static/dashboard/index_polling.html
  static/dashboard/index_websocket.html
  test_api_telegram.py
  test_minimal_engine.py
  test_simple_dashboard.py
  tests/test_system_complete.py
Due: validate-config, check-api-keys, test-imports, check-todos

Update: [bot unificato con notifiche telegram e dashboard web]
  .env.original
Due: check-api-keys

Delete .env.original
  .env.original
Due: check-api-keys

Delete secrets directory
  secrets/app_secret_key.txt
  secrets/bybit_api_key.txt
  secrets/bybit_api_secret.txt
  secrets/claude_api_key.txt
  secrets/discord_webhook_url.txt
  secrets/encryption_key.txt
  secrets/grafana_admin_password.txt
  secrets/jwt_secret.txt
  secrets/kraken_api_key.txt
  secrets/kraken_api_secret.txt
  secrets/metadata.json
  secrets/mexc_api_key.txt
  secrets/mexc_api_secret.txt
  secrets/openai_api_key.txt
  secrets/postgres_admin_password.txt
  secrets/postgres_password.txt
  secrets/prometheus_web_config_password.txt
  secrets/redis_password.txt
  secrets/smtp_password.txt
  secrets/telegram_bot_token.txt
  secrets/telegram_chat_id.txt
Due: none

Delete scr/exchanges directory
  scr/exchanges/bybit_balance.py
Due: none

Auto-update: 2025-09-04 13:17:33 - 1 files
  scripts/git_auto_push.sh
Due: validate-rpi-scripts

🔄 Daily backup 20250908 -
  .engine.pid
  Makefile
  config/ai/ai_settings.yaml
  scripts/diagnose_system.sh
  scripts/fix_ai.sh
  scripts/fix_charts.sh
  scripts/fix_opportunities_and_notifications.sh
  scripts/optimize_redis.sh
  scripts/start_with_ai.py
  scripts/upgrade_dashboard.sh
  src/ai/ai_advisor.py
  src/ai/ai_integration.py
  src/core/unified_engine.py.before_charts_fix
  src/core/unified_engine.py.before_final_fix
Due: validate-config, check-api-keys, test-imports, validate-rpi-scripts, check-todos

Path conditions:
  validate-config: any of: ^config/.*\.ya?ml$
  check-api-keys: any of: ^(config/|\.env).*$
  validate-docker: any of: ^docker-compose\.ya?ml$
  check-requirements: any of: requirements.*\.txt$
  test-imports: any of: ^src/.*\.py$
  validate-rpi-scripts: any of: ^scripts/.*\.sh$
  check-todos: any of: ^src/.*\.py$
